@import 'normalize.css';
@import "normalize.css";  

@tailwind utilities;

body{
    text-align: center;
}
button{
    border: 1px solid transparent;
    padding: 3px;
    border-radius: 10px;
    background-color: lightcoral;
    color: white;
}
button:hover{
    background-color: coral;
    color: black;
}
h1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}