*{
  margin: 0;
  padding: 0px;
  background-origin: border-box;
}
h2{
  color: red;

  font-size: 16px;
}
h4{
  color: green;
  padding-top: 10px;
  padding: 10px;

}
button{
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0px;
}
button:hover{
  background-color: black;
  color: white;
}