@import "tailwindcss";

button {
  border: 1px solid transparent;
  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 10px;
  text-transform: capitalize;
}
.btn-grp > button {
  width: 75px;
}
.btn-grp {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.calculator {
    
    display: flex;
    justify-content: center;
    
}
.calculator > input{
    width: 320px;
    height: 50px;
    padding: 1rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
   
}